* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #d9d9d9;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  color: #c7c7c7;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(24, 24, 24, 0.8);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 0;
}

.title {
  margin-right: auto;
}

.titlea {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.titlea:hover {
  cursor: pointer;
  color: black;
  background-color: #ddd;
}

.list {
  display: flex;
  font-family: Arial, sans-serif;
  font-weight: bold;
  list-style-type: none;
  padding: 0;
}

.list .nav-link {
  text-decoration: none;
  color: inherit;
}

.item {
  padding: 10px;
}

.item:hover {
  cursor: pointer;
  color: black;
  background-color: #ddd;
}

.dropbtn {
  display: none;
}