<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="components/componentscss/carousel section/carouselsection.css">
</head>

<body>
  <section class="aboutusbksec" id="aboutusbk">
    <div class="aboutusbk">
      <h2>About Us</h2>
      <p>At Green Pass, we believe learning to drive should be a safe, confident, and enjoyable experience. Our mission
        is to equip everyone desirous with the skills, knowledge, and road awareness needed to become a responsible and
        capable
        driver for life.

        With a team of highly qualified and patient instructors, we offer personalized lessons tailored to your pace,
        whether
        you’re a complete beginner, need a refresher course, or want to master advanced driving techniques. We focus not
        only on
        passing the driving test but also on building real-world confidence behind the wheel.

        Our modern, well-maintained training vehicles are equipped with dual controls to ensure maximum safety during
        lessons.
        We provide flexible scheduling, transparent pricing, and a friendly, supportive learning environment.

        Whether your goal is to get your first license or improve your driving skills, Green L is here to guide you
        every step on the way — helping you drive with skill, safety, and confidence.</p>
    </div>
  </section>
  <section class="dashsection">
    <div class="dash"></div>
  </section>
  <section class="term&conditionsec">
    <div class="aboutusbk" id="terms">
      <h2>Business terms and conditions</h2>
      <p>Lessons can be booked online or over the phone.
        <br />• Punctuality: The instructor will wait for a maximum of 15 minutes. If the student does not arrive, the
        lesson will be
        treated as cancelled without notice and charged accordingly.
        <br />• Instructor Car Use: The vehicle is covered by insurance for use during lessons and the driving test
        only. It is not
        insured for the student’s independent practice outside of scheduled lesson times.
        <br />• Driving Test Bookings: The instructor may refuse to provide the car for a driving test if they believe
        the student is
        not adequately prepared, in order to ensure safety. The fee for the use of the car will be charged on the day of
        the
        test which is separate from the DVSA test fee.
        <br />• Refunds: Refunds for pre-paid lesson blocks are given at the discretion of management and are calculated
        at the
        standard single lesson rate for any lessons already taken
        <br />• Cancellation policy:
        We kindly ask for at least 48 hours notice if you need to cancel or reschedule your lessons. This allows us to
        offer
        your slot to another student. Lessons cancelled with less than 48 hours notice will be charged in full.
      </p>
    </div>
  </section>
  <!-- contact, alright reserve and addresss -->
  <section>
    <div class="contactncopyright">
      <div class="map">
        <iframe src="https://www.google.com/maps?q=loc:52.544392,-1.890825&z=18&hl=en&output=embed" width="600"
          height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="contact-info">
        <div class="contactbk" id="contactbk">
          <text class="contacttext1">
            <p class="copyright">© 2023 Green Pass Driving School. All rights reserved.</p>
          </text>
          <text class="contacttext2">
            <h5 class="contactus">Find Us</h5>
            <h5>Phone: +447746243128</h5>
            <h5>Email: greenlgpsom@gmail.com</h5>
            <h5>Address: Kingstanding Birmingham B44</h5>
          </text>
        </div>
        <div class="contactbk2">
          <p class="webdevby">Website developed by <a
              href="https://wa.me/923489107523?text=Hello!%20I%20need%20Website">HC
              Developers</a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- bottom services -->
  <section class="bottomservicessec">
    <ul class="bottomservices">
      <li><a href="/components/pages/aboutus/AboutUs.html">About Us</a></li>
      <li><a href="/components/pages/t&c/Terms&Conditions.html">Terms & Conditions</a></li>
      <li><a href="/components/pages/contactus/ContactUs.html">Contact Us</a></li>
      <li><a href="#carouselsection">Services</a></li>
      <li><a href="#top">Scroll to top</a></li>
  </section>
</body>