<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- map section -->
  <section class="mapsec" id="mapsec">
    <div class="mapn">
      <iframe src="https://www.google.com/maps?q=loc:52.544392,-1.890825&z=18&hl=en&output=embed" width="600"
        height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="learn-to-drive-text">
      <h3 style="font-weight: bold">Find Us</h3>
      <p>Green Pass Driving School is conveniently located in Kingstanding, Birmingham B44. Our central location makes it
        easy for students from all over Birmingham and the surrounding areas to access our services. Whether you're
        coming
        from the city center or the suburbs, you'll find us easily reachable by car or public transport. We look forward
        to
        welcoming you to our driving school and helping you on your journey to becoming a confident and skilled driver.
      </p>  
    </div>
  </section>
  <!-- contact, alright reserve and addresss -->
  <section>
    <div class="contactncopyright">
      <div class="contact-info">
        <div class="contactbk" id="contactbk">
          <text class="contacttext1">
            <p class="copyright">© 2023 Green Pass Driving School. All rights reserved.</p>
          </text>
          <text class="contacttext2">
            <h5>Phone: +447746243128</h5>
            <h5>Email: greenlgpsom@gmail.com</h5>
            <h5>Address: Kingstanding Birmingham B44</h5>
          </text>
        </div>
        <div class="contactbk2">
          <p class="webdevby">Website developed by <a
              href="https://wa.me/923489107523?text=Hello!%20I%20need%20Website" style="color: rgb(245, 23, 23);">HC
              Developers</a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- bottom services -->
  <section class="bottomservicessec">
    <ul class="bottomservices">
      <li><a href="components/pages/aboutus/AboutUs.html">About Us</a></li>
      <li><a href="components/pages/t&c/Terms&Conditions.html">Terms & Conditions</a></li>
      <li><a href="components/pages/contactus/ContactUs.html">Contact Us</a></li>
      <li><a href="components/pages/services/Services.html">Services</a></li>
      <li><a href="#top">Scroll to top</a></li>
  </section>
</body>