<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADI-PDI</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/components/assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/components/assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/components/assets/favicon_io/favicon-16x16.png">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div>
      <section>
        <h1>ADI-PDI Page</h1>
        <p>This is the ADI-PDI page content.</p>
      </section>
    </div>
</body>
</html>