html {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  height: 100vh;
}

.forumbeginner {
  overflow: hidden;
  height: 100vh;
}

.forumhighway {
  overflow: hidden;
  height: 100vh;
}