.revivemainbk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
  padding: 150px 20px 0;
  background-color: #434343;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23ffffff' fill-opacity='0.04'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  max-width: 100%;
  height: 700px;
  gap: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-wrapper {
  display: flex;
  gap: 90px;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  font-size: 30px;
  background-color: rgb(36, 114, 183);
  width: 350px !important;
  height: 400px;
  color: #00ff08;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.swiper-slide:hover {
  transform: scale(1.05);
}

.reveiwh {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -150px;
  text-align: center;
  color: #ffffff;
  gap: 20px;
}

.reveiwh h2 {
  padding: 10px 10px;
  background-color: rgb(45, 160, 85);
  font-size: 24px;
  font-weight: bold;
  width: 40%;
  border-radius: 20px;
}

.review-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
  margin: auto;
}

.review-text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.reviewer-name {
  font-weight: bold;
  color: #555;
}

.more-reviews-link {
  margin-top: 20px;
  font-size: 1rem;
  color: #ffffff;
}

.more-reviews-link a {
  color: #00ff08;
  text-decoration: none;
  font-weight: bold;
}

.stars {
  color: #ffff00;
  font-size: 25px;
}

/* About Us section ------------------------------------*/
.aboutusbk {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top:100px;
  margin-bottom: 100px;
  padding: 50px;
}

.aboutusbk h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  color: rgb(50, 50, 50);
  font-size: 34px;
  font-weight: bold;
  border-radius: 50px;
  height: 200px;
}

.aboutusbk p {
  padding: 20px 20px;
  color: rgb(50, 50, 50);
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
}

/* Dash section -------------------------------------*/
.dashsection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash {
  width: 80%;
  height: 1px;
  background-color: rgb(140, 140, 140);
  margin: 50px 0;
}


.contactncopyright {
  background-color: #434343;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.03'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.contactbk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 50px;
}

.contactbk2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100px;
  color: #b9b9b9;
}

.contacttext1 {
  display: flex;
  flex-direction: row;
  color: #b9b9b9;
  font-size: 20px;
  text-align: left;
  gap: 40px;
}

.copyright {
  font-size: 14px;
  color: #b9b9b9;
  text-align: center;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.contacttext2 {
  display: flex;
  flex-direction: column;
  color: #b9b9b9;
  font-size: 20px;
  text-align: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  gap: 10px;
}

.contactus {
  font-size: 24px;
  font-weight: bold;
  color: #b9b9b9;
  padding-bottom: 20px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .vehicle, .instructor {
    padding: 10px;
  }
  .reveiwh h2 {
    font-size: 17px;
  }
  .swiper-wrapper {
    gap: 6px;
  }
  .map {
    width: 50%;
    max-width: 900px;
    height: 400px;
  }
  .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}
@media screen and (max-width: 425px) {
  .revivemainbk {
    height: 100%;
    padding: 170px 10px 20px;
  }

  .reveiwh h2 {
    width: 59%;
  }

  .swiper-wrapper {
    flex-direction: column;
  }

  .swiper-slide {
    height: 300px;
  }

  .contactncopyright {
    flex-direction: column;
  }

  .map {
    width: 100%;
    max-width: 900px;
    height: 400px;
  }

  .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  .review-text {
    font-size: 12px;
  }

  .reviewer-name {
    font-size: 18px;
  }
}
@media screen and (max-width: 320px) {
  .revivemainbk {
    height: 100%;
    padding: 170px 10px 20px;
  }

  .reveiwh h2 {
    width: 59%;
  }
  .swiper-wrapper {
    flex-direction: column;
  }
  .swiper-slide {
    height: 300px;
  }
  .contactncopyright {
    flex-direction: column;
  }
  .map {
    width: 100%;
    max-width: 900px;
    height: 400px;
  }
  
  .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  .review-text {
    font-size: 12px;
  }

  .reviewer-name {
    font-size: 18px;
  }
}
