/* Map Section --------------------------------------*/
.mapsec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mapn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.mapinfo {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: 40px;
  margin-right: 40px;
  color: #333333;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .mapsec {
    display: flex;
    flex-direction: column;
  }

  .mapn {
    margin: 0;
    padding: 10px;
  }
}

/* Contact and Copyright Section -------------------*/
.contactncopyright {
  background-color: #434343;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.03'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactbk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 50px;
}

.contactbk2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100px;
  color: #b9b9b9;
}

.contacttext1 {
  display: flex;
  flex-direction: row;
  color: #b9b9b9;
  font-size: 20px;
  text-align: left;
  gap: 40px;
}

.copyright {
  font-size: 14px;
  color: #b9b9b9;
  text-align: center;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.contacttext2 {
  display: flex;
  flex-direction: column;
  color: #b9b9b9;
  font-size: 20px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  gap: 10px;
}

.contactus {
  font-size: 24px;
  font-weight: bold;
  color: #b9b9b9;
  padding-bottom: 20px;
  text-align: right;
}

/* Bottom Services Section -------------------------------*/
.bottomservicessec {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #333333;
}

.bottomservices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #333333;
}

.bottomservices li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.bottomservices li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {

  .vehicle,
  .instructor {
    padding: 10px;
  }

  .reveiwh h2 {
    font-size: 17px;
  }

  .swiper-wrapper {
    gap: 6px;
  }

  .map {
    width: 50%;
    max-width: 900px;
    height: 400px;
  }

  .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  .aboutuscontent {
    flex-direction: column;
  }

  .review-text {
    font-size: 12px;
  }

  .reviewer-name {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .revivemainbk {
    height: 100%;
    padding: 170px 10px 20px;
  }

  .reveiwh h2 {
    width: 59%;
  }

  .swiper-wrapper {
    flex-direction: column;
  }

  .swiper-slide {
    height: 300px;
  }

  .contactncopyright {
    flex-direction: column;
  }

  .map {
    width: 100%;
    max-width: 900px;
    height: 400px;
  }

  .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  .review-text {
    font-size: 12px;
  }

  .reviewer-name {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .revivemainbk {
    height: 100%;
    padding: 170px 10px 20px;
  }

  .reveiwh h2 {
    width: 59%;
  }

  .swiper-wrapper {
    flex-direction: column;
  }

  .swiper-slide {
    height: 300px;
  }

  .contactncopyright {
    flex-direction: column;
  }

  .map {
    width: 100%;
    max-width: 900px;
    height: 400px;
  }

  .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  .review-text {
    font-size: 12px;
  }

  .reviewer-name {
    font-size: 18px;
  }

  .aboutuscontent {
    flex-direction: column;
  }
}